<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="{{ '/assets/js/redirect.js' | relative_url }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css?v=' | append: site.time | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/GistDarkCode.css' | relative_url }}">
  {% seo %}
</head>

<body>

  <header>
    <div class="container">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>

      {% if site.show_downloads %}
      <section id="downloads">
        <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
        <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
      </section>
      {% endif %}
      <section id="nav">
        <a href="{{ '/' | relative_url}}">HOME</a>
        <a href="{{ '/about' | relative_url }}">ABOUT</a>
      </section>
    </div>
  </header>

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>

  {% if site.google_analytics %}
  <script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</body>

</html>
